button.class1 {
    border: radius 10px;
    background-color: #A9F07E;
    width: 376px;
    height: 113px;
    border: 1px solid black;
    margin: auto;
    font-size: 9mm;
}
body {
    width: 600px;
    margin: 0 auto;
    background-color: rgb(75, 75, 75);
    padding: 0 20px 20px 20px;
}
div{
    border: radius 10px;

}
div.class1 {
    
    border: radius 10px;
    background-color: rgb(196, 196, 196);
    width: 586px;
    height: 442px;
    padding: 0 20px 20px 20px;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    color: white;
    font-size: 20mm;
}

form {
    display: inline-block;
    text-align: center;
}

label {
    display: block;
}

input[type="text"],
input[type="password"],
input[type="passwordConfirmation"] {
    width: 100%;
    padding: 8px;
}

input[type="submit"] {
    width: 110.5%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #a9f07e;
    border-radius: 10px;

}

.container {
    font-family: arial;
    font-size: 24px;
    margin: 25px;
    width: 35px;
    height: 20px;
    outline: dashed 1px black;
    /* 상하좌우 정중앙 정렬하기 */
    display: flex;
    justify-content: center;
    align-items: center;
}