<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>With Me</title>
  <link href="../button.css" rel="stylesheet" type="text/css" />
  <link href="RoleChoicePage.css" rel="stylesheet" type="text/css" />
  <style>

  </style>
</head>

<body>
  <center>
    <div>
      <h1>With Me</h1>
      <div id="profileInfo">
        <!-- 여기에 프로필 정보가 표시됩니다. -->
      </div>
      <div class="container">
        <div class="button-container">
          <button type="button" onclick="location.href='./GMGamePage.html'">GM</button>
          <br><br>
          <button type="button" onclick="location.href='./PLGamePage.html'">PL</button>
        </div><br>
      </div>
    </div>
  </center>


</body>

</html>