<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="GamePage.css" rel="stylesheet" type="text/css" />
    <style>
    </style>
</head>

<body>
    <div class="GamePage">
        
        <!--시트창-->
        <div class="LeftSidebar">
            <div id="Char" class="Char">
                SHEET
            </div>

            <div class="CharButton">
                <button id ="CharButton" onclick="toggleChar()">
                    <img src="../source/charcterpic.png" style="width: 100%; height: auto;">
                </button>
            </div>


        </div>
        <!--채팅창-->
        <div class="RightSideBar">
            <div id="Chat" class="Chat">
                <div class="Chatlog">CHAT</div>
                <div class> 
                    <div id="chat-window"></div>
                    <form action="">
                        <label for="sendto"> send to</label>
                        <select name="name" id = "name">
                            <option value="GM"> GM</option>
                            <option value="ALL"> ALL</option>
                        </select>
                    </form>
                    <input type="text" id="message" placeholder="메시지를 입력하세요">
                    <button onclick="sendMessage()">전송</button>
                </div>
            </div>

            <div class="ChatButton">
                <button id = "ChatButton" onclick="toggleChat()">
                    <img src="../source/chatpic.png" style="width: 100%; height: auto;">
                </button>
            </div>


        </div>
        <!--맵창-->
        <div class="UpSideBar">
            <div id="Map" class="Map">
                MAP
            </div>

            <div class="MapButton" >
                <button id= "MapButton" onclick="toggleMap()">
                    <img src="../source/mappic.png" style="width: auto; height: 100%;">
                </button>
            </div>
        </div>


        <div class="field" id="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)">

            <img src="../source/1map1.png" style="width: 100%; height: auto;">
        </div>


    </div>
    <script>
        //버튼 눌러서 창 온오프
        // 창 숨기지 말고 없앴다가 생성
        function toggleChar() {
            var div = document.getElementById('Char');
            var button = document.getElementById('CharButton');
            if (div.style.display === 'none') {
                div.style.display = 'block';
                button.style.left = "80%";
            } else {
                div.style.display = 'none';
                button.style.left = "0";
            }
        }
        function toggleChat() {
            var div = document.getElementById('Chat');
            var button = document.getElementById('ChatButton');
            if (div.style.display === 'none') {
                div.style.display = 'block';
                button.style.right = "80%";
                
            } else {
                div.style.display = 'none';
                button.style.right = "0";
            }
        }
        function toggleMap() {
            var div = document.getElementById('Map')
            var button = document.getElementById('MapButton')
            if (div.style.display === 'none') {
                div.style.display = 'block';
                button.style.top = "80%";
            } else {
                div.style.display = 'none';
                button.style.top = 0;
            }
        }
        // 드래그로 맵 변경
        function allowDrop(event) {
            event.preventDefault();
        }

        function drop(event) {
            event.preventDefault();
            var files = event.dataTransfer.files;
            var reader = new FileReader();

            reader.onload = function (e) {
                var img = document.createElement("img");
                img.src = e.target.result;
                document.getElementById("dropzone").innerHTML = "";
                document.getElementById("dropzone").appendChild(img);
            };

            reader.readAsDataURL(files[0]);
        }
    </script>
</body>

</html>