
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 방 생성, 방 찾기, 커뮤니티
    <div id = 'GenerateRoom'>
        
        <form method = "post">

            <label for="RoomNumber">방 번호 입력 0~999:</label>
            <input type="text" id="RoomNumber" name="RoomNumber" required><br><br>
            
            <input type="submit" value="방 생성">
            RolePage로 이동
        </form>
        방 번호 0~999
    </div>
    <div id = 'FindRoom'>
        <form method = "get">

            <label for="RoomNumber">방 번호 입력:</label>
            <input type="text" id="RoomNumber" name="RoomNumber" required><br><br>
            
            <input type="submit" value="방 검색">
        </form>
        번호 입력 
    </div>
    
    <div id = 'Community'>
        <button onclick="location.href='CommunityPage.html'">
        </button>
    </div>
</body>
</html>