
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="MainPage.css" rel="stylesheet" type="text/css" />
</head>
<body> 방 입장, 커뮤니티, 로그인, 회원가입
    <div class="class1">
    <div id = "FindRoom">

        <label for="RoomNumber">방 번호 입력:</label>
        <input>
        <button onclick="location.href='../Game/RoleChoicePage.html'">
            RoomNumber
        </button>
    </div><br>
    
    <div id = "Community">
        <button onclick="location.href='CommunityPage.html'">
            Community
        </button>
    </div><br>

    <div>
        <div id = "login" >
            <button onclick="location.href='../LgnRgstr/LoginPage.html'">
                login
            </button>
        </div>
        <div id = "register">
            <button onclick="location.href='../LgnRgstr/RegisterPage.html'">
                register
            </button>
        </div>
    </div>
    </div>
</body>
</html>